body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100vh;
}
.traffic-light-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: fit-content;
    padding: 30px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    gap: 20px;
}
.traffic-light-body div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.circles{
    display: flex;
    justify-content: space-around;
    height: 100px;
    width: 100px;
    /* background-color: pink; */
    border-radius: 50%;
}
#red{
    transition: 0.4s;
    background-color: red;
    opacity: 0.4;
}
#yellow{
    transition: 0.4s;
    background-color: yellow;
    opacity: 0.4;
}
#green{
    transition: 0.4s;
    background-color: green;
    opacity: 0.4;
}
.red-shadow{
    box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.8);
}
.yellow-shadow{
    box-shadow: 0 0 20px 10px rgba(255, 255, 0, 0.8);
}
.green-shadow{
    box-shadow: 0 0 20px 10px rgba(0, 128, 0, 0.8);
}
#click-btn,#reset-btn{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
#click-btn:hover,#reset-btn:hover{
    transition: 0.3s;
    background-color: white;
    color: black;
    border: 2px solid black;
}